<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>loop example</title>
<link rel="stylesheet" href="" th:href="@{/CSS/mystyle.css}" />
</head> 
<body>
  <div class="container">
  
  <img src="" class="profile" th:src="@{/image/anu.jpg}" alt=""/>
  
  
  
  
  
  
  
  
   
<h1> adding css , js and image in thymeleaf </h1>
<p>  i am aniket if you want to talk to me then come and namashkar me fast </p>  
</div>

<script src="" th:src="@{js/myjs.js}"></script>











</body>
</html>   